@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HELLO WORLD!!!</h1>
    <p class="lead">THIS IS A REALLY BIG MESSAGE!!!</p>
    <p><a href="#" class="btn btn-primary btn-lg">THIS LINKS TO NOTHING!!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>HELLO WORLD!!! =D</h2>
        <p>
            THIS IS THE FIRST PROJECT OF THE 2015 YEAR FOR SOFTWARE ENGINEERING!!
        </p>
        <p> 
            DANIEL WANTS TO KNOW WHY EVERYONE IS SHOUTING!!!
            TYLER DOESNT KNOW BUT IT IS HAPPENING ANYWAYS!!
        </p>
        <p><a class="btn btn-default" href="#"></a></p>
    </div>
</div>
 
